node_modules
out
/data
/conf
/zip
/updater
/version
/main
/plugins
/coverage
/docs
/storage
/docker/work
/unix.sockv
/slatedocs/includes
/slatedocsbuild
/src/docs/docs.json
/public/docs
/volumes
/scripts/.env
